main {
	font-size: 36px; /* using the RELATIVE UNIT (em) */
}

.container {
	padding: 2em; /* 2 x current font size (20px) = 40px padding all around */
	max-width: 1200px; /* for big/tiny monitors; it will TRY to take up 1200px, but if it can't it'll be reduced */
	margin: 0 auto; /* centered in page */
}
