main {
	background-color: #3af2d1;
}

.container {
	padding: 2em; /* 2 x current font size (20px) = 40px padding all around */
	max-width: 1200px; /* for big/tiny monitors; it will TRY to take up 1200px, but if it can't it'll be reduced */
	margin: 0 auto; /* centered in page */
}

h1 {
	font-family: letter-gothic-std, monospace;
	font-weight: 700;
	font-style: normal;
}

h2 {
	font-family: letter-gothic-std, monospace;
	font-weight: 700;
	font-style: normal;
}

p {
	font-family: letter-gothic-std, monospace;
	font-weight: 700;
	font-style: normal;
}

.pLinks {
	color: black;
}

.pLinks:hover {
	color: #FF47CB;
}

img {
	width: 100%;
	border: white 10px solid;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1280px) {
  .flex-container {
    flex-direction: column;
  }
}
