.navbar {
  padding: 0;
}

a {
  text-decoration: none !important; /* removes the default decoration set by the anchor tag */
}

.logo {
  font-size: 2em;
  padding-left: 15px;
}

.button {
  padding: 1em;
  transition: background-color 0.5s;
  color: black;
}

.button:hover {
  background-color: #e33a3b;
  color: white;
}

.button-font {
  font-family: letter-gothic-std, monospace;
  font-weight: 700;
  font-style: normal;
}
